@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is SkyDrop Hydro</h1>
    <p>Your water specialists, even the clouds can't beat us!</p>
    <a asp-controller="Home" asp-action="Products" class="btn btn-primary mt-3">View Our Products</a>
</div>
